# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javademos\gameOdev3Day4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
